<div class="header">
  <mat-toolbar color="primary">
    <span>Transplant Cards</span>
  </mat-toolbar>
</div>

<div class="content">
  <button mat-stroked-button color="primary" class="add-transplant">
    <mat-icon>add</mat-icon>
    Add Transplant Center
  </button>
  
  <mat-card *ngFor="let center of centers" class="center">
    <mat-card-title-group>
      <mat-card-title>{{ center.name }}, {{ center.city }}, {{ center.state }}</mat-card-title>
      <mat-card-subtitle>{{ center.status }} <mat-icon>arrow_right</mat-icon> {{ center.statusDate | date:'MM/dd/yyyy' }} - present</mat-card-subtitle>
      <button mat-icon-button color="primary">
        <mat-icon class="edit">edit_square</mat-icon>
      </button>
    </mat-card-title-group>

    <mat-card-content>
      <h3>{{ doabletasks(center.taskCounts) }} Tasks</h3>
      <div class="counts">
        <div *ngFor="let task of center.taskCounts" class="count">
          <mat-icon [class]="taskStatusClass(task).toLowerCase()">circle</mat-icon>
          <span class="mat-caption">{{ task.count }} {{ taskStatusLabel(task) }}</span>
        </div>
      </div>

      <div class="files">
        <h3>{{ center.files.length }} Files Attached</h3>
        <mat-chip-list *ngIf="missingFile(center.files, 2)">
          <mat-chip color="warn" class="mat-caption">Activation File Missing</mat-chip>
        </mat-chip-list>
      </div>
    </mat-card-content>
  </mat-card>
</div>
