:host {
  height: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-auto-rows: auto 1fr auto;
  grid-template-areas: 
  "header header header"
  "left content right"
  "footer footer footer";

  .header {
    grid-area: header;
    height: auto;
  }

  .left {
    grid-area: left;
  }

  .content {
    grid-area: content;
    overflow: overlay;

    padding: 1rem;
    background: rgba($color: #000000, $alpha: 0.1);

    button.add-transplant {
      width: 100%;
      max-width: 588px;

      margin-bottom: 0.75rem;

      background: white;

      mat-icon {
        font-size: 22px;
      }
    }

    mat-card.center {
      max-width: 556px;

      mat-card-title {
        font: 500 18px / 28px Roboto, "Helvetica Neue", sans-serif;
        letter-spacing: normal;
      }

      mat-card-subtitle {
        display: flex;
        flex-flow: row;

        font: 500 14px / 20px Roboto, "Helvetica Neue", sans-serif;
        color: #000000;

        mat-icon {
          font-size: 16px;
          width: 16px;
          height: 16px;

          align-self: center;

          margin: 0 0.25rem;
        }
      }

      mat-icon.edit {
        font-size: 20px;
      }

      mat-card-content {
        .mat-caption {
          font-weight: 500;
        }

        h3 {
          font-weight: 500;
          margin-bottom: 0;
        }

        .counts {
          display: flex;
          flex-flow: row wrap;
          margin-bottom: 0.5rem;
          
          .count {
            width: auto;
            display: flex;
            flex-flow: row nowrap;

            margin-right: 0.5rem;

            mat-icon {
              font-size: 20px;
            }

            .overdue { color: #d32f2f; }
            .duesoon { color: #ffa500; }
            .active { color: #f5eb89; }
            .pending { color: #43ccf7; }
            .completed { color: #5cb85c; }
            .incompleted { color: #6c757d; }
          }
          .count:last-of-type {
            margin-right: 0;
          }


        }

        .files {
          display: flex;
          flex-flow: row wrap;
          align-items: center;

          mat-chip-list {
            margin-left: 0.5rem;

            mat-chip {
              min-height: 24px;
              padding: 0 8px;

              background-color: rgba(255, 165, 0, 0.32);
              
              font: 500 12px / 20px Roboto, "Helvetica Neue", sans-serif;
              letter-spacing: normal;
            }
          }
        }
      }
    }
    mat-card.center + mat-card.center {
      margin-top: 0.75rem;
    }
  }

  .right {
    grid-area: right;
  }
  
  .footer {
    grid-area: footer;
  }
}